.home-page {
  height: 100vh;
  background: linear-gradient(135deg, #6f63f2, #8b7cf6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.home-card h1 {
  margin-bottom: 10px;
  color: #333;
}

.home-card p {
  margin-bottom: 25px;
  color: #666;
}

.home-card button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background: #6f63f2;
  color: white;
}

.signup-btn {
  background: #e0e0e0;
  color: #333;
}
